ul {
    -webkit-column-count: auto;
    /* Chrome/Opera, Safari */
    -moz-column-count: auto;
    /* Mozilla Firefox */
    column-count: auto;
    column-width: 8rem;
    list-style-type: none;
}

.circular--square {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.apertura {
    background-color: green;
    color: white;
}

.dias {
    background-color: gainsboro;
}

.cierre {
    background-color: darkred;
    color: white;
}