ul {
    -webkit-column-count: 3;
    /* Chrome/Opera, Safari */
    -moz-column-count: 3;
    /* Mozilla Firefox */
    column-count: 3;
    list-style-type: none;
}

.circular--square {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}